$bkg: #F5F5F7;
$bkg-gradient: linear-gradient(180deg, #130625 0%, #1B0929 100%);
$text-white: #FCFCFC;
$text-gold: #EBBE7D;
$text-black: #0B0B0A;
$text-grey: #999;
$btn-gold: #EBBE7D;
$btn-hover: #FCFCFC;
$btn-locked: #1C1C1C;;